<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Editar Artigo</h2>
            </div>
            <div class="card-body">
                <form action="/articles/save" method="post">
                    <input class="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo"><br>
                    <textarea class="form-control" name="body" placeholder="Escreva o artigo aqui!" id="article"></textarea><br>
                    <label>Categoria</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category)=>{%>
                            <option value="<%=category.id %> "><%= category.title %> </option>
                       <%}); %> 
                    </select><br>
                    <button type="submit" class="btn btn-dark">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article"
        ,language: 'pt_BR'
        ,plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    });
</script>