<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
    <div class="container">
        <h2>Artigos</h2>
        <a href="/admin/articles/new" class="btn btn-dark">Novo Artigo</a>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Titulo
                    </th>
                    <th>
                        Slug
                    </th>
                    <th>
                        Categoria
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach((article)=>{ %>
                    <tr>
                        <td>
                            <%=article.id%>
                        </td>
                        <td>
                            <%=article.title%>
                        </td>
                        <td>
                            <%=article.slug%>
                        </td>
                        <td>
                            <%=article.category.title%>
                        </td>
                        <td>
                            <a href="articles/edit/<%=article.id%>" class="btn btn-warning">Editar</a>
                            <form action="/articles/delete" method="post" style="display: inline;" onsubmit="confirma(event)">
                                <input type="hidden" name="id" value="<%= article.id %> ">
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
               <% }); %> 
            </tbody>
        </table>
    </div>
</body>
<%- include("../../partials/footer.ejs") %>
<script>
function confirma(event){
    
   if(confirm("Deseja deletar este registro?")){

   }else{
    event.preventDefault();
   }
}
</script>