<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Edição de Categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="post">
                    <input class="form-control" type="text" value="<%=category.title%>" name="title" placeholder="Defina o titulo da categoria"><br>
                    <input type="hidden" value="<%=category.id%>" name="id">
                    <button type="submit" class="btn btn-dark">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("../../partials/footer.ejs") %> 