<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post">
        <input type="text" name="email" id="email" value="<%=email %>" placeholder="Email">
        <%=ErroEmail %> 
        <br>
        <input type="text" name="nome" id="nome" value="<%=nome %>" placeholder="Nome">
        <%=ErroNome %>
        <br>
        <input type="number" name="pontos" id="pontos" value="<%=pontos %>" placeholder="Pontos">
        <%=ErroPontos %>
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>